<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FERREMAS - Materiales de Construcción</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    {% load static %}

    <!-- Favicon -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">

    <!-- Fuentes y Librerías -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row py-1 px-xl-5" style="background-color: #041e41; margin-bottom: 0;">
            <div class="col-lg-6 d-none d-lg-block"></div>

            <!-- Inicio de Sesión -->
            <div class="col-lg-6 text-center text-lg-right" style="background-color: #041e41;">
                <div class="d-inline-flex align-items-center">
                {% if user.is_authenticated %}  
                  {% if user.is_staff %}
                    {% if user.is_superuser %}
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'administrador' %}">Administrar</a>
                            
                        </div>   
                      </div>
                    {% else %}
                      {% if tipo_usuario == 'contador' %}
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="{% url 'contador' %}">Administrar</a>
                          </div>   
                        </div>
                      {% elif tipo_usuario == 'vendedor' %}
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="{% url 'vendedor' %}">Administrar</a>
                          </div>   
                        </div>
                      {% elif tipo_usuario == 'bodeguero' %}
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="{% url 'bodeguero' %}">Administrar</a>
                          </div>   
                        </div>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="{% url 'cuenta' %}">Ver Perfil</a>
                          
                      </div>   
                    </div>
                  {% endif %}
                {% else %}
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#loginModal">Iniciar Sesión</button>
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#registerModal">Registrarse</button>
                    </div>   
                  </div>
                {% endif %}

                    <!-- Idiomas y Moneda -->
                    <div class="btn-group mx-2" id="moneda">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">{{ moneda|default:"CLP" }}</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit" name="moneda" value="EUR">EUR</button>
                                <button class="dropdown-item" type="submit" name="moneda" value="USD">USD</button>
                                <button class="dropdown-item" type="submit" name="moneda" value="CAD">CAD</button>
                                <button class="dropdown-item" type="submit" name="moneda" value="CLP">CLP</button>
                            </form>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">{{ idioma|default:"ES" }}</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form method="get">
                              
                              <button class="dropdown-item" type="submit" name="traduccion" value="FR">FR</button>
                              <button class="dropdown-item" type="submit" name="traduccion" value="AR">AR</button>
                              <button class="dropdown-item" type="submit" name="traduccion" value="RU">RU</button>
                              <button class="dropdown-item" type="submit" name="traduccion" value="ES">ES</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------- Inicio Topbar ------------------------------------------------------------------------------->

    <div class="container-fluid px-4 py-2" style="background-color: #041e41;">
        <div class="row align-items-center">
  
    <!----------------------------------------------------------------------- Logo--------------------------------------------------------------------------------------->

      <div class="col-auto">
        <a href="{% url 'index' %}">
          <img src="{% static 'img/logo3.png' %}" alt="Logo" style="height: 75px;">
        </a>
      </div>
  
    <!---------------------------------------------------------------- Botón Categorías----------------------------------------------------------------------------------->

      <div class="col-auto">
        <a class="btn btn-warning text-dark d-flex align-items-center" data-toggle="collapse" href="#navbar-vertical"
           style="height: 45px; padding: 0 25px; font-size: 16px;">
          <i class="fa fa-bars mr-2"></i>
          Categorías
          <i class="fa fa-angle-down ml-2"></i>
        </a>
        <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light mt-1"
             id="navbar-vertical"
             style="width: 250px; z-index: 999;">
          <div class="navbar-nav w-100">
            <div class="nav-item dropdown dropright">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                Puertas y Ventanas<i class="fa fa-angle-right float-right mt-1"></i>
              </a>
              <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                <a href="#" class="dropdown-item">Molduras</a>
                <a href="#" class="dropdown-item">Puertas para Exterior</a>
                <a href="#" class="dropdown-item">Puertas para Interior</a>
                <a href="{% url 'productos' 'Ventanas' %}" class="dropdown-item">Ventanas</a>
              </div>
            </div>

            <div class="nav-item dropdown dropright">
                <a href="{% url 'productos' 'Herramientas' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Herramientas<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="{% url 'productos' 'Herramientas Electricas' %}" class="dropdown-item">Herramientas Electricas</a>
                  <a href="#" class="dropdown-item">Maquinarias</a>
                  <a href="#" class="dropdown-item">Herramientas Manuales</a>
                  <a href="{% url 'productos' 'Herramientas y Maquinarias de Construccion' %}" class="dropdown-item">Herramientas y Maquinarias de Construccion</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Pinturas<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Acabado para Superficies</a>
                  <a href="#" class="dropdown-item">Adhesivos, Selladores y Siliconas</a>
                  <a href="#" class="dropdown-item">Herramientas y Accesorios para Pintar</a>
                  <a href="#" class="dropdown-item">Tratamiento de Superficies</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Baño<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Sanitarios y Accesorios</a>
                  <a href="#" class="dropdown-item">Cabinas y Duchas</a>
                  <a href="#" class="dropdown-item">Griferia</a>
                  <a href="#" class="dropdown-item">Muebles Vanitorios y Lavamanos</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Cocina<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Muebles de Cocina</a>
                  <a href="#" class="dropdown-item">Griferia de Cocina</a>
                  <a href="#" class="dropdown-item">Lavaplatos y Lavaderos</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Gasfiteria<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Canerias, Tubos y Fitting</a>
                  <a href="#" class="dropdown-item">Calefont y Termos</a>
                  <a href="#" class="dropdown-item">Bombas, Motobombas y Accesorios</a>
                  <a href="#" class="dropdown-item">Llaves y Válvulas</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Ferreteria<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Fijaciones</a>
                  <a href="#" class="dropdown-item">Cerraduras</a>
                  <a href="#" class="dropdown-item">Elementos de Protección</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Jardin<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Maquinarias de Jardin</a>
                  <a href="#" class="dropdown-item">Riego</a>
                  <a href="#" class="dropdown-item">Piscina</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Electricidad<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Canalizacion</a>
                  <a href="#" class="dropdown-item">Interruptores Electricos</a>
                  <a href="#" class="dropdown-item">Complementos Electricos</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Iluminacion<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Ampolletas y Tubos</a>
                  <a href="#" class="dropdown-item">Iluminacion Comercial</a>
                  <a href="#" class="dropdown-item">Iluminacion Interior</a>
                  <a href="#" class="dropdown-item">Iluminacion Exterior</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Maderas y Tableros<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="{% url 'productos' 'Madera' %}" class="dropdown-item">Madera</a>
                  <a href="#" class="dropdown-item">Tableros Construccion</a>
                  <a href="#" class="dropdown-item">Tableros Muebleria</a>
                  <a href="#" class="dropdown-item">Tableros Revestimiento</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Revestimientos<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Ceramica Piso</a>
                  <a href="#" class="dropdown-item">Ceramica Muro</a>
                  <a href="#" class="dropdown-item">Pisos Flotantes</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Materiales<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Tabiqueria y Aislación</a>
                  <a href="#" class="dropdown-item">Techumbre y Complementos</a>
                  <a href="#" class="dropdown-item">Perfiles de Acero</a>
                </div>
              </div>
          </div>
        </nav>
      </div>
  
    <!----------------------------------------------------------------------- Buscador ------------------------------------------------------------------------------------>

      <div class="col">
        <form action="">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="¿Qué quieres buscar hoy?">
            <div class="input-group-append">
              <button class="btn btn-outline-light bg-white" type="submit">
                <i class="fa fa-search text-dark"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
  
    <!---------------------------------------------------------------------- Carrito ------------------------------------------------------------------------------------>
      <div class="col-auto ml-auto d-flex align-items-center">
        <a href="{% url 'resumen' %}" class="btn px-3" id="toggleCart" style="font-size: 1.5rem;">
          <i class="fas fa-shopping-cart text-warning"></i>
        </a>
      </div>
  
    </div>
  </div>

    <!----------------------------------------------------------------------- Mensaje Informativo ------------------------------------------------------------------------>
    <div class="w-100 text-center py-2" style="background-color: #d6d6d6;">
        <strong style="color: #041e41; font-weight: bold;">
            Tus compras en ferremas.cl en hasta <span style="text-transform: uppercase;">3 cuotas sin interés</span>
        </strong>
    </div>


    <!----------------------------------------------------------------- Inicio Carrusel ---------------------------------------------------------------------------------->

    {% block content %}
    {% endblock %}

        <!-------------------------------------------------------------------- Footer ---------------------------------------------------------------------------------------->
        <div class="col-auto" style="background-color: #041e41;">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5 text-center">
                    <img src="{% static 'img/logo3.png' %}" alt="Logo Footer" class="img-fluid mb-3" style="max-width: 250px;">
                    
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                
            
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">TÉRMINOS Y CONDICIONES</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="{% url 'nosotros' %}"><i class="fa fa-angle-right mr-2"></i>Nuestra Empresa</a>
                                <a class="text-secondary mb-2" href="{% url 'Cambios' %}"><i class="fa fa-angle-right mr-2"></i>Cambios y Devoluciones</a>
                                <a class="text-secondary mb-2" href="{% url 'TerminosyCondiciones' %}"><i class="fa fa-angle-right mr-2"></i>Términos y Condiciones</a>
                            </div>
                        </div>
        
                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">CONTÁCTANOS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="{% url 'contacto' %}"><i class="fa fa-angle-right mr-2"></i>Contáctanos</a>
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>600 370 6111</a>
                            </div>
                        </div>
     
                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">SUSCRÍBETE A NUESTRO NEWSLETTER</h5>
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Tu correo electrónico">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary">Suscribirse</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-secondary">
                        &copy; <a class="text-primary" href="#">Synergia</a>. © Todos los derechos reservados FERREMAS
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="{% static 'static/img/payments.png' %}" alt="">
                </div>
            </div>
        </div>
        
        <!----------------------------------------------------------------------------- Fin Footer ----------------------------------------------------------------------->
        <form method="post" action="{% url 'index' %}" id="inicio">
          {% csrf_token %}
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-0" style="border-radius: 16px; border: none;">
              
              <!-- Fondo superior con color -->
              <div style="background-color: #041e41; border-top-left-radius: 16px; border-top-right-radius: 16px; padding: 20px;" class="text-center">
                <img src="static/img/logo3.png" alt="Logo" style="height: 60px;">
              </div>
        
              <!-- Contenido principal del modal -->
              <div class="p-4">
                <div class="text-center">
                  <h5 class="mb-2" style="color: #041e41; font-weight: bold;">Iniciar Sesión</h5>
                  <p class="text-muted small">Ingresa a tu cuenta</p>
                </div>
                
                  <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" name="username" placeholder="Tu nombre de usuario">
                  </div>
                  <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Tu contraseña">
                  </div>
                  <input type="hidden" name="login_form" value="1">
                  <button type="submit" class="btn btn-block mt-3" style="background-color:#feb81f; color:#041e41; font-weight:bold;" name="login_form">Entrar</button>
                
                <div class="text-center mt-3">
                  <a href="#" class="small text-muted">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="text-center mt-2">
                  <span class="small text-muted">¿No tienes cuenta? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Regístrate</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
        
        <form method="post" action="{% url 'index' %}" id="registro">
        {% csrf_token %}
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-radius: 12px; overflow: hidden;">
              
              <!-- Encabezado con color y logo -->
              <div style="background-color: #041e41; padding: 20px; text-align: center;">
                <img src="static/img/logo3.png" alt="FERREMAS Logo" style="max-height: 40px;">
              </div>
        
              <!-- Contenido del formulario -->
              <div class="modal-body p-4">
                <h5 class="text-center mb-1" style="color: #041e41; font-weight: 600;">Registrarse</h5>
                <p class="text-center text-muted mb-4" style="font-size: 14px;">Crea tu cuenta para comenzar</p>
                
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Tu nombre completo">
                  </div>
                  <div class="form-group">
                    <label>RUT</label>
                    <input type="text" class="form-control" name="rut" id="rut" placeholder="Tu rut">
                  </div>
                  <div class="form-group">
                    <label>Correo</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="ejemplo@mail.com">
                  </div>
                  <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="Crear contraseña">
                  </div>
                  <div class="form-group">
                    <label>Repita Contraseña</label>
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Repita contraseña">
                  </div>
                  <input type="hidden" name="registro_form" value="1">
                  <button type="submit" class="btn btn-block" style="background-color:#feb81f; color:#041e41; font-weight:bold;" name="registro_form">Registrarse</button>
                  <div class="text-center mt-3" style="font-size: 14px;">
                    ¿Ya tienes una cuenta? <a href="#" style="color: #007bff; font-weight: 500;">Inicia sesión</a>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
        </form>
        <style>
          .side-cart {
            position: fixed;
            top: 0;
            right: -400px;
            width: 320px;
            height: 100%;
            background: white;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
            transition: right 0.4s ease;
            z-index: 2000;
            display: flex;
            flex-direction: column;
          }
        
          .side-cart.open {
            right: 0;
          }
        
          .side-cart-header,
          .side-cart-footer {
            padding: 15px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
          }
        
          .side-cart-body {
            flex-grow: 1;
            overflow-y: auto;
            padding: 15px;
          }
        
          .cart-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
          }
        
          .cart-item img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-right: 10px;
          }
        
          .cart-info {
            flex-grow: 1;
          }
        
          .remove-btn,
          .close-btn {
            background: none;
            border: none;
            color: red;
            font-size: 20px;
            cursor: pointer;
          }
        </style>
        
        <!-------------------------------------- Panel lateral del carrito ----------------------------------------------->
            
            <div id="sideCart" class="side-cart">
              <div class="side-cart-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Tu Carrito</h5>
                <button class="close-btn" onclick="toggleCart()">&times;</button>
              </div>
              <div class="side-cart-body">
                {% for producto in carrito %}
                  <div class="cart-item">
                    <img src="data:image/jpeg;base64,{{ producto.idproducto.imagen_base64 }}" alt="Producto">
                    <div class="cart-info">
                      <strong>{{ producto.idproducto.nombre }}</strong>
                      <p>${{ producto.idproducto.precio }}</p>
                      <p>cantidad: {{ producto.cantidad }}</p>
                    </div>
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="producto" id="producto" value="{{ producto.idproducto.idproducto }}">
                      <button class="remove-btn" name="borrar" id="borrar">&times;</button>
                    </form>
                  </div>
                {% endfor %}
              </div>
              <div class="side-cart-footer">
                <p>Total: <strong>${{ total }}</strong></p>
                <a class="btn btn-warning btn-block" href="{% url 'resumen' %}">Finalizar Compra</a>
              </div>
            </div>
      
      <!----------------------------------------------------------------------------- Fin Footer ----------------------------------------------------------------------->
  
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
        <!-- Scripts desde CDNs (se dejan igual) -->
         <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
          function toggleEnvio(type) {
            const envioDireccion = document.getElementById('envio-direccion');
            const envioRetiro = document.getElementById('envio-retiro');
            const btnDireccion = document.getElementById('btnDireccion');
            const btnRetiro = document.getElementById('btnRetiro');
        
            if (type === 'direccion') {
              envioDireccion.classList.remove('d-none');
              envioRetiro.classList.add('d-none');
        
              // Activar botón "Enviar a la dirección"
              btnDireccion.classList.add('btn-warning', 'active');
              btnDireccion.classList.remove('btn-outline-warning');
        
              // Desactivar botón "Retirar en tienda"
              btnRetiro.classList.add('btn-outline-warning');
              btnRetiro.classList.remove('btn-warning', 'active');
        
            } else {
              envioDireccion.classList.add('d-none');
              envioRetiro.classList.remove('d-none');
        
              // Activar botón "Retirar en tienda"
              btnRetiro.classList.add('btn-warning', 'active');
              btnRetiro.classList.remove('btn-outline-warning');
        
              // Desactivar botón "Enviar a la dirección"
              btnDireccion.classList.add('btn-outline-warning');
              btnDireccion.classList.remove('btn-warning', 'active');
            }
          }
        </script>
        {% if registro_form.errors %}
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            var modal = new bootstrap.Modal(document.getElementById('registerModal'));
            modal.show();
          });
        </script>
        {% endif %}
        <script>
          const tasaUSD = {{tasa}}; // Por ejemplo, 1 CLP = 0.0011 USD
        
          document.querySelectorAll('.product').forEach(producto => {
            const precioCLP = parseFloat(producto.dataset.precio);
            const precioUSD = (precioCLP * tasaUSD).toFixed(2);
            producto.querySelector('.product-precio-convertido').textContent = `$${precioUSD} {{ moneda }}`;
          });
        </script>
        <script>
          $(document).ready(function () {
            // Detecta clic fuera del menú y del botón
            $(document).on('click', function (event) {
              const $menu = $('#navbar-vertical');
              const $button = $('[href="#navbar-vertical"]');

              if (
                !$menu.is(event.target) &&
                $menu.has(event.target).length === 0 &&
                !$button.is(event.target) &&
                $button.has(event.target).length === 0
              ) {
                $menu.collapse('hide');
              }
            });
          });
        </script>

        <script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.product-card').forEach(function (card) {
      const minusBtn = card.querySelector('.btn-minus');
      const plusBtn = card.querySelector('.btn-plus');
      const varValue = card.querySelector('.var-value');
      const quantityInput = card.querySelector('.product-quantity');

      if (minusBtn && plusBtn && varValue && quantityInput) {
        let maxValue = parseInt(varValue.dataset.max) || 10; // Puedes poner un valor general

        function updateButtons(value) {
          plusBtn.disabled = value >= maxValue;
          minusBtn.disabled = value <= 1;
        }

        updateButtons(parseInt(varValue.textContent));

        minusBtn.addEventListener('click', function (e) {
          e.preventDefault();
          let currentValue = parseInt(varValue.textContent);
          if (currentValue > 1) {
            let newValue = currentValue - 1;
            varValue.textContent = newValue;
            quantityInput.value = newValue;
            updateButtons(newValue);
          }
        });

        plusBtn.addEventListener('click', function (e) {
          e.preventDefault();
          let currentValue = parseInt(varValue.textContent);
          if (currentValue < maxValue) {
            let newValue = currentValue + 1;
            varValue.textContent = newValue;
            quantityInput.value = newValue;
            updateButtons(newValue);
          }
        });
      }
    });
  });
</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
