<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FERREMAS - Materiales de Construcción</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    {% extends 'base.html' %}

    <!---------------------------------------------------------------------- Favicon ------------------------------------------------------------------------------->
    <link href="img/favicon.png" rel="icon">

    <!---------------------------------------------------------------- Fuentes y Librerias ------------------------------------------------------------------------->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="lib/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/owlcarousel/assets/owl.theme.default.min.css">
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


</head>

    <!------------------------------------------------------------------------ Body --------------------------------------------------------------------------------->

<body>
    <div class="container-fluid">
        <div class="row py-1 px-xl-5" style="background-color: #041e41; margin-bottom: 0;">
            <div class="col-lg-6 d-none d-lg-block">
            </div>

    <!---------------------------------------------------------------- Inicio de Sesión ------------------------------------------------------------------------------->

            <div class="col-lg-6 text-center text-lg-right" style="background-color: #041e41;">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">Mi Cuenta</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Iniciar Sesión</button>
                            <button class="dropdown-item" type="button">Registrarse</button>
                        </div>
                    </div>
    <!-------------------------------------------------------------------- Idiomas y Dinero ---------------------------------------------------------------------------->
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" style="background-color: #feb81f;">USD</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">EUR</button>
                            <button class="dropdown-item" type="button">GBP</button>
                            <button class="dropdown-item" type="button">CAD</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown"
                        style="background-color: #feb81f;">
                        EN</button>

                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">
                                FR
                            </button>
                            <button class="dropdown-item" type="button">
                                AR
                            </button>
                            <button class="dropdown-item" type="button">
                                RU
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------- Inicio Topbar ------------------------------------------------------------------------------->

    <div class="container-fluid px-4 py-2" style="background-color: #041e41;">
        <div class="row align-items-center">
  
    <!----------------------------------------------------------------------- Logo--------------------------------------------------------------------------------------->

      <div class="col-auto">
        <a href="index.html">
          <img src="img/logo3.png" alt="Logo" style="height: 75px;">
        </a>
      </div>
  
    <!---------------------------------------------------------------- Botón Categorías----------------------------------------------------------------------------------->

      <div class="col-auto">
        <a class="btn btn-warning text-dark d-flex align-items-center" data-toggle="collapse" href="#navbar-vertical"
           style="height: 45px; padding: 0 25px; font-size: 16px;">
          <i class="fa fa-bars mr-2"></i>
          Categorías
          <i class="fa fa-angle-down ml-2"></i>
        </a>
        <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light mt-1"
             id="navbar-vertical"
             style="width: 250px; z-index: 999;">
          <div class="navbar-nav w-100">
            <div class="nav-item dropdown dropright">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                Puertas y Ventanas<i class="fa fa-angle-right float-right mt-1"></i>
              </a>
              <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                <a href="#" class="dropdown-item">Molduras</a>
                <a href="#" class="dropdown-item">Puertas para Exterior</a>
                <a href="#" class="dropdown-item">Puertas para Interior</a>
                <a href="#" class="dropdown-item">Ventanas</a>
              </div>
            </div>

            <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Herramientas<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Herramientas Electricas</a>
                  <a href="#" class="dropdown-item">Maquinarias</a>
                  <a href="#" class="dropdown-item">Herramientas Manuales</a>
                  <a href="#" class="dropdown-item">Herramientas y Maquinarias de Construccion</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Pinturas<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Acabado para Superficies</a>
                  <a href="#" class="dropdown-item">Adhesivos, Selladores y Siliconas</a>
                  <a href="#" class="dropdown-item">Herramientas y Accesorios para Pintar</a>
                  <a href="#" class="dropdown-item">Tratamiento de Superficies</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Baño<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Sanitarios y Accesorios</a>
                  <a href="#" class="dropdown-item">Cabinas y Duchas</a>
                  <a href="#" class="dropdown-item">Griferia</a>
                  <a href="#" class="dropdown-item">Muebles Vanitorios y Lavamanos</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Cocina<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Muebles de Cocina</a>
                  <a href="#" class="dropdown-item">Griferia de Cocina</a>
                  <a href="#" class="dropdown-item">Lavaplatos y Lavaderos</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Gasfiteria<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Canerias, Tubos y Fitting</a>
                  <a href="#" class="dropdown-item">Calefont y Termos</a>
                  <a href="#" class="dropdown-item">Bombas, Motobombas y Accesorios</a>
                  <a href="#" class="dropdown-item">Llaves y Válvulas</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Ferreteria<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Fijaciones</a>
                  <a href="#" class="dropdown-item">Cerraduras</a>
                  <a href="#" class="dropdown-item">Elementos de Protección</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Jardin<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Maquinarias de Jardin</a>
                  <a href="#" class="dropdown-item">Riego</a>
                  <a href="#" class="dropdown-item">Piscina</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Electricidad<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Canalizacion</a>
                  <a href="#" class="dropdown-item">Interruptores Electricos</a>
                  <a href="#" class="dropdown-item">Complementos Electricos</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Iluminacion<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Ampolletas y Tubos</a>
                  <a href="#" class="dropdown-item">Iluminacion Comercial</a>
                  <a href="#" class="dropdown-item">Iluminacion Interior</a>
                  <a href="#" class="dropdown-item">Iluminacion Exterior</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Maderas y Tableros<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Madera</a>
                  <a href="#" class="dropdown-item">Tableros Construccion</a>
                  <a href="#" class="dropdown-item">Tableros Muebleria</a>
                  <a href="#" class="dropdown-item">Tableros Revestimiento</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Revestimientos<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Ceramica Piso</a>
                  <a href="#" class="dropdown-item">Ceramica Muro</a>
                  <a href="#" class="dropdown-item">Pisos Flotantes</a>
                </div>
              </div>

              <div class="nav-item dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Materiales<i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                  <a href="#" class="dropdown-item">Tabiqueria y Aislación</a>
                  <a href="#" class="dropdown-item">Techumbre y Complementos</a>
                  <a href="#" class="dropdown-item">Perfiles de Acero</a>
                </div>
              </div>
          </div>
        </nav>
      </div>
  
    <!----------------------------------------------------------------------- Buscador ------------------------------------------------------------------------------------>

      <div class="col">
        <form action="">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="¿Qué quieres buscar hoy?">
            <div class="input-group-append">
              <button class="btn btn-outline-light bg-white" type="submit">
                <i class="fa fa-search text-dark"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
  
    <!---------------------------------------------------------------------- Carrito ------------------------------------------------------------------------------------>
      <div class="col-auto ml-auto d-flex align-items-center">
        <a href="#" class="btn px-3" style="font-size: 1.5rem;">
          <i class="fas fa-shopping-cart text-warning"></i>
        </a>
      </div>
  
    </div>
  </div>

    <!----------------------------------------------------------------------- Mensaje Informativo ------------------------------------------------------------------------>
    <div class="w-100 text-center py-2" style="background-color: #d6d6d6;">
        <strong style="color: #041e41; font-weight: bold;">
            Tus compras en ferremas.cl en hasta <span style="text-transform: uppercase;">3 cuotas sin interés</span>
        </strong>
    </div>


    <!-------------------------------------------------------------------- Cambios ---------------------------------------------------------------------------------------->
{% block content %}
    <div style="background-color: white; padding: 40px 20px;">
        <div style="max-width: 1500px; margin: auto; font-family: Arial, sans-serif; color: #041e41;">
          <h2 style="text-align: center; font-weight: bold;">Política de Cambios y Devoluciones</h2>
      
          <p><strong>FERREMAS S.A.</strong><br>
          RUT: 76.543.210-1<br>
          Domicilio: Av. Manuel Rodríguez 1055, Santiago, Chile</p>
      
          <hr>
      
          <h4>1. Derecho de retracto, cambios y devoluciones</h4>
          <p>FERREMAS ofrece a sus clientes la posibilidad de ejercer su derecho a retracto, cambio o devolución de productos comprados a través de su sitio web <a href="http://www.ferremas.cl">www.ferremas.cl</a> o en tienda física, conforme a lo establecido en la legislación chilena vigente.</p>
      
          <p>Si el producto presenta fallas o defectos, el cliente podrá, dentro de un plazo de <strong>6 meses</strong> desde la fecha de recepción o compra, solicitar:</p>
          <ul>
            <li>Reparación gratuita del producto.</li>
            <li>Cambio por uno nuevo del mismo valor.</li>
            <li>Devolución total del dinero pagado.</li>
          </ul>
      
          <p><strong>Nota:</strong> Todo producto será previamente revisado para verificar la existencia de la falla reportada antes de autorizar la reparación, cambio o reembolso.</p>
          <p>El producto debe ser entregado en cualquier tienda FERREMAS para su revisión.</p>
          <p>La garantía no aplicará si el producto fue manipulado indebidamente por el cliente.</p>
          <p>Para productos con vida útil reducida o de consumo inmediato, el derecho de garantía se aplicará dentro del plazo señalado en el empaque o un máximo de 7 días hábiles si no se indica lo anterior.</p>
          <p>Productos de segunda selección, abiertos, usados o reparados y cuya condición fue informada previamente no contarán con derecho a retracto o cambio.</p>
          <p>El derecho de retracto podrá ejercerse en un plazo de <strong>10 días corridos</strong> desde la recepción del producto.</p>
      
          <hr>
      
          <h4>2. Devolución de dinero y plazos comprometidos</h4>
          <p>Cuando el cliente ejerce su derecho de garantía legal o retracto, y se emite una Nota de Crédito, comienza a regir el siguiente procedimiento de devolución:</p>
      
          <h5>2.1 Compras con Tarjeta de Crédito</h5>
          <ul>
            <li>Se realizará un reverso de la transacción a través de Transbank o el operador correspondiente.</li>
            <li>FERREMAS gestionará este proceso en un máximo de 3 días hábiles desde la emisión de la Nota de Crédito.</li>
            <li>El plazo de abono efectivo dependerá de la entidad emisora de la tarjeta.</li>
          </ul>
      
          <h5>2.2 Compras con Tarjeta de Débito</h5>
          <ul>
            <li>FERREMAS realizará una transferencia electrónica a la cuenta informada por el cliente o, alternativamente, emitirá un vale vista.</li>
            <li>El cliente deberá entregar sus datos bancarios al momento de la anulación.</li>
            <li>Plazo: 10 días hábiles desde la emisión de la Nota de Crédito.</li>
            <li>Si el cliente no entrega datos bancarios, FERREMAS emitirá un vale vista disponible en Banco Estado desde el tercer día hábil.</li>
          </ul>
      
          <h5>2.3 Compras en Efectivo</h5>
          <ul>
            <li>La devolución se realizará en efectivo de forma inmediata tras la emisión de la Nota de Crédito.</li>
            <li>El cliente podrá optar por un vale vista, disponible en Banco Estado desde el tercer día hábil posterior a la emisión del documento.</li>
          </ul>
      
          <hr>
      
          <h4>3. Consideraciones adicionales</h4>
          <ul>
            <li>El cliente debe presentar su cédula de identidad vigente y número de pedido o boleta para solicitar cualquier gestión.</li>
            <li>Las devoluciones solo se realizan al titular de la compra o persona autorizada.</li>
          </ul>
          <p>En caso de dudas o consultas, puedes escribir a <a href="mailto:ayuda@ferremas.cl">ayuda@ferremas.cl</a> o llamar al <strong>600 540 3000</strong>.</p>
        </div>
      </div>
      
{% endblock %}

    <!-------------------------------------------------------------------- Footer ---------------------------------------------------------------------------------------->
    <div class="col-auto" style="background-color: #041e41;">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5 text-center">
                <img src="img/logo3.png" alt="Logo Footer" class="img-fluid mb-3" style="max-width: 250px;">
                
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            
        
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">TÉRMINOS Y CONDICIONES</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="nosotros.html"><i class="fa fa-angle-right mr-2"></i>Nuestra Empresa</a>
                            <a class="text-secondary mb-2" href="Cambios.html"><i class="fa fa-angle-right mr-2"></i>Cambios y Devoluciones</a>
                            <a class="text-secondary mb-2" href="TerminosyCondiciones.html"><i class="fa fa-angle-right mr-2"></i>Términos y Condiciones</a>
                        </div>
                    </div>
    
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">CONTÁCTANOS</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Contáctanos</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ayuda</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>+56 2 2890 9000</a>
                        </div>
                    </div>
 
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">SUSCRÍBETE A NUESTRO NEWSLETTER</h5>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tu correo electrónico">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Suscribirse</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Synergia</a>. © Todos los derechos reservados FERREMAS
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!------------------------------------------------------------------ Librerias JavaScript ----------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</body>

</html>
